
@{
    Layout = null;
    var hFolder = ViewBag.HeadFolder as List<IMine.Models.Album>;
}

<nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
     data-position="right" class="navbar-default navbar-static-side">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">

            <div class="clearfix"></div>
            <li class="active">
                <a href="@Url.Action("Index","Home")">
                    <span class="menu-title">
                        <i class="fa fa-tachometer fa-fw">
                            <div class="icon-bg bg-orange"></div>
                        </i>Home
                    </span>
                </a>
            </li>
            @foreach (var folder in hFolder)
            {
                <li>
                    <a href="@Url.Action("SlideBarSelect", "Home", new { F_id = folder.AlbumID })">
                        <i class="fa icon-lock fa-fw">  <div class="icon-bg bg-pink"></div> </i>
                        <span class="menu-title">@folder.TenAlbum</span>
                    </a>
                </li>
            }

        </ul>
    </div>
</nav>